BACKEND_PORT=8080
FRONTEND_PORT=5174
ADMIN_FRONTEND_PORT=5175

JWT_SECRET=change-this-secret
ADMIN_USERNAMES=admin1,admin2,admin3
ADMIN_PASSWORD=change-this-password
APP_BASE_URL=http://localhost:5174
ADMIN_APP_BASE_URL=http://localhost:5175
STUDENT_ROSTER_PATH=2025学年学生信息.xls

FRONTEND_API_BASE_URL=http://localhost:8080/api
ADMIN_FRONTEND_API_BASE_URL=http://localhost:8080/api
