DATABASE_URL="file:./dev.db"
PORT=8080
JWT_SECRET="change-this-secret"
ADMIN_USERNAMES="admin1,admin2,admin3"
ADMIN_PASSWORD="change-this-password"
APP_BASE_URL="http://localhost:5174"
ADMIN_APP_BASE_URL="http://localhost:5175"
DEFAULT_SITE_ASSETS_DIR=""
DEFAULT_SENSITIVE_WORDS_DIR=""
DEFAULT_BOOK_CATALOG_PATH=""
DEFAULT_STUDENT_ROSTER_PATH=""
STUDENT_ROSTER_PATH=""
TEACHER_ROSTER_PATH=""
